{% extends "base.html" %}

{% block title %}Detalles del pedido{% endblock title %}
{% block content %}
<section id="det-pedido">
	<h2 class="red-title">Datos de entrega</h2>
	<p>{{cliente.nombre}} {{cliente.apellidos}}</p>
	<p>{{cliente.direccion}}</p>
	<p>Madrid {{cliente.codigo_postal}}</p>
	<p>{{cliente.telefono}}</p>
	

	<h2 class="red-title">Resumen del pedido</h2>
	<ol>
	{% for item in items %}
		
		<li>
			<h3>{{item.quantity}}x{{item.product.nombre}}</h3>
			<div class="right">
				<span class="price">{{item.subtotal|floatformat:2}}</span><span class="currency">&euro;</span>
			</div>
		</li>
	{% endfor %}
		<li>
			<h3>TOTAL</h3>
			<div class="right">
				<span class="price">{{total|floatformat:2}}</span><span class="currency">&euro;</span>
			</div>
		</li>
	</ol>
	<form action="/pago/" method="POST" id="detaill">
		{% csrf_token %}
		<div class="paiment-metods">
			<input type="submit" value="Efectivo" name="pago">
			<div class="paypal-btn"><!--<input type="submit" value="Paypal" name="pago" style="visibility: hiodden;">--></div>
	</form>
	
</section>

	<style type="text/css">
		#det-pedido {
			padding: 0 1.5em;
		}
		p {
			font-size: 16px!important;
		}

		ol {
			list-style:none;
			margin: 0;
			padding: 0;
		}
		li{
			padding: 0.5em 4em 0.5em 1.4em;
			position: relative;
		}
		li h3{
			font-size: 1em;
			font-weight: normal;
			margin: 0;
		}
		li .desc {
			display: none;
			font-size: 0.8em;
		}
		li .right{
			font-size: 0.8em;
			position: absolute;
			right: 0.5em;
			top: 0.5em;
		}


	</style>

{% endblock content %}