body, html, div, figure {
	margin: 0px;
	padding: 0px;
}
body {
	background: url(../images/bg-main.jpg);
	font-size: 16px;
}

div#wrapper {
	background: #fff;
	max-width: 940px;
	margin: 0 auto;
	position: relative;
}
header {
	padding-top: 2em;
	margin: 0!important;
	width: 100%!important;
}
	header h1 {
		background: url(../images/bg-h1.png) no-repeat center;
		margin: 0;
		text-align: center;
	}

header nav {
	background: url(../images/bg-nav.jpg) #574d4c;
	min-height: 60px;
}
	header nav ul {
		margin: 0;
		padding: 0em 1.2em;
		list-style: none;
	}
		header nav ul li {
			display: inline-block;
			padding: 0em 0.6em;
		}
		header nav ul li:hover {
			background: #d63432;
			
		}
			header nav ul li a {
				display: block;
				color: #fff;
				font-family: Georgia, "Times New Roman";
				line-height: 60px;
				font-weight: bold;
				text-decoration: none;
				text-transform: uppercase;
			}

#busqueda {
	background: url("../images/bg-search.jpg");
	padding: 1.2em;
}
	#busqueda label {
		color: #fff;
		font-size: 24px; 
		display: block;
		margin: 0 0 5px 0;
	}
	#busqueda input {
		/*display: block;
		margin-bottom: 10px;*/
		width: 100%;
	}

#images_slider {
	display: none;
}
#steps img {
	width: 100%;
}


footer {
	background: url("../images/bg-footer.png") no-repeat top center;
	padding: 40px 0 20px 0;
	margin-top: 20px;

}
	footer ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
	}
	footer ul li {
		display: inline-block;
		margin: 0em 0.3em;
	}
		footer ul li a {
			text-decoration: none;
			color: #A59F9F;
			font-size: 16px;
			font-style: italic;
			font-weight: bold;
			letter-spacing: -1px;
			font-family: Georgia, 'Times New Roman', Times, serif;
		}
		footer ul li a:hover {
			color: #d63332;
		}
	footer p#copyright {
		text-align: center;
		color: #938d8d;
		font-size: 12px;
	}



/*Comunes css*/

h2 {
	font-family: 'Times New Roman', 'Georgia', Times, serif;
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
	color: #5d5252;
	background: url(../images/bg-h1.png) no-repeat center;
}

.box {
	position: relative;
	border: 1px solid #fff;
	padding: 19px 20px 20px 20px;
	background: #f8f8f8;
	text-align: right;
	font-family: Georgia, "Times New Roman", Times, serif;
}


input[type="text"] {
	background: url(../images/bg-input.jpg) 0 0 repeat-x #f9f9f9;
	border: 1px solid #dbdbdb;
	color: #938d8d;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	height: 20px;
	padding: 8px 0 8px 8px;
	letter-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	text-align: start;
	width: 200px;
	word-spacing: normal;
}
input[type="submit"] {
	background: #f4c04a; /*#574d4c;*/
	border: 0px;
	color: #000;
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	height: 42px;
	line-height: 14px;
	padding: 11px 12px 12px 12px;
	text-transform: uppercase;
}




@media screen and (min-width: 520px) {
	
	nav {
		margin: 1em 0;
	}
	section {
		overflow: hidden;
	}
	#busqueda {
		float: left;
		width: 33%;
	}
	#images_slider {
		display: block;
		float: left;
		margin-left: 2%;
		width: 60%;
	}
	#steps figure{
		display: inline-block;
	}
	#steps img {
		width: 100%;
	}
	div#wrapper {
		border-style: none solid;
		border-color: #ddd;
		border-width: 0px 12px;
	}
}