{% extends "base.html" %}
{% load static %}

{% block content %}
	<h2><span>restaurantes</span></h2>
		<article class="restaurant">
			<figure><a href=""><img src="http://d30v2pzvrfyzpo.cloudfront.net/es/images/restaurants/4310.gif" alt=""></a></figure>
			<div class="info">
				<h3><a href="#">Distillerie Telebebida</a></h3>
				<div>
					<p>Comida Japonesa</p>
					<p>28007</p>
				</div>
				<div class="rating">
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star-half-full"></span>
					<span class="icon-star-empty"></span>
				</div>
			</div>
		</article>
		<article class="restaurant">
			<figure><a href=""><img src="{% static 'images/restaurant/4193.gif' %}" alt=""></a></figure>
			<div class="info">
				<h3><a href="#">L Sushi</a></h3>
				<div>
					<p>Comida Japonesa</p>
					<p>28007</p>
				</div>
				<div class="rating">
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star-half-full"></span>
					<span class="icon-star-empty"></span>
				</div>
			</div>
		</article>
		<article class="restaurant">
			<figure><a href=""><img src="http://d30v2pzvrfyzpo.cloudfront.net/es/images/restaurants/3482.gif" alt=""></a></figure>
			<div class="info">
				<h3><a href="#">Mini Sushi</a></h3>
				<div>
					<p>Comida Japonesa</p>
					<p>28007</p>
				</div>
				<div class="rating">
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star-half-full"></span>
					<span class="icon-star-empty"></span>
				</div>
			</div>
		</article>
		<article class="restaurant">
			<figure><a href=""><img src="http://d30v2pzvrfyzpo.cloudfront.net/es/images/restaurants/4027.gif" alt=""></a></figure>
			<div class="info">
				<h3><a href="#">Itacho sushi</a></h3>
				<div>
					<p>Comida Japonesa</p>
					<p>28007</p>
				</div>
				<div class="rating">
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star-half-full"></span>
					<span class="icon-star-empty"></span>
				</div>
			</div>
		</article>
		<article class="restaurant">
			<figure><a href=""><img src="http://d30v2pzvrfyzpo.cloudfront.net/es/images/restaurants/4214.gif" alt=""></a></figure>
			<div class="info">
				<h3><a href="#">Japan Pearl Madrid</a></h3>
				<div>
					<p>Comida Japonesa</p>
					<p>28007</p>
				</div>
				<div class="rating">
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star-half-full"></span>
					<span class="icon-star-empty"></span>
				</div>
			</div>
		</article>
		<article class="restaurant">
			<figure><a href=""><img src="http://d30v2pzvrfyzpo.cloudfront.net/es/images/restaurants/2969.gif" alt=""></a></figure>
			<div class="info">
				<h3><a href="#">Twin Pizza Mediterráneo</a></h3>
				<div>
					<p>Comida Japonesa</p>
					<p>28007</p>
				</div>
				<div class="rating">
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star-half-full"></span>
					<span class="icon-star-empty"></span>
				</div>
			</div>
		</article><article class="restaurant">
			<figure><a href=""><img src="http://d30v2pzvrfyzpo.cloudfront.net/es/images/restaurants/4310.gif" alt=""></a></figure>
			<div class="info">
				<h3><a href="#">Distillerie Telebebida</a></h3>
				<div>
					<p>Comida Japonesa</p>
					<p>28007</p>
				</div>
				<div class="rating">
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star-half-full"></span>
					<span class="icon-star-empty"></span>
				</div>
			</div>
		</article>
		<article class="restaurant">
			<figure><a href=""><img src="{% static 'images/restaurant/4193.gif' %}" alt=""></a></figure>
			<div class="info">
				<h3><a href="#">L Sushi</a></h3>
				<div>
					<p>Comida Japonesa</p>
					<p>28007</p>
				</div>
				<div class="rating">
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star-half-full"></span>
					<span class="icon-star-empty"></span>
				</div>
			</div>
		</article>
		<article class="restaurant">
			<figure><a href=""><img src="http://d30v2pzvrfyzpo.cloudfront.net/es/images/restaurants/3482.gif" alt=""></a></figure>
			<div class="info">
				<h3><a href="#">Mini Sushi</a></h3>
				<div>
					<p>Comida Japonesa</p>
					<p>28007</p>
				</div>
				<div class="rating">
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star-half-full"></span>
					<span class="icon-star-empty"></span>
				</div>
			</div>
		</article>
		<article class="restaurant">
			<figure><a href=""><img src="http://d30v2pzvrfyzpo.cloudfront.net/es/images/restaurants/4027.gif" alt=""></a></figure>
			<div class="info">
				<h3><a href="#">Itacho sushi</a></h3>
				<div>
					<p>Comida Japonesa</p>
					<p>28007</p>
				</div>
				<div class="rating">
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star-half-full"></span>
					<span class="icon-star-empty"></span>
				</div>
			</div>
		</article>
		<article class="restaurant">
			<figure><a href=""><img src="http://d30v2pzvrfyzpo.cloudfront.net/es/images/restaurants/4214.gif" alt=""></a></figure>
			<div class="info">
				<h3><a href="#">Japan Pearl Madrid</a></h3>
				<div>
					<p>Comida Japonesa</p>
					<p>28007</p>
				</div>
				<div class="rating">
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star-half-full"></span>
					<span class="icon-star-empty"></span>
				</div>
			</div>
		</article>
		<article class="restaurant">
			<figure><a href=""><img src="http://d30v2pzvrfyzpo.cloudfront.net/es/images/restaurants/2969.gif" alt=""></a></figure>
			<div class="info">
				<h3><a href="#">Twin Pizza Mediterráneo</a></h3>
				<div>
					<p>Comida Japonesa</p>
					<p>28007</p>
				</div>
				<div class="rating">
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star-half-full"></span>
					<span class="icon-star-empty"></span>
				</div>
			</div>
		</article>
{% endblock content %}