{% extends "base.html" %}

{% block title %}Detalles del pedido{% endblock title %}
{% block content %}
<section id="det-pedido">
	<h2 class="red-title">Datos de entrega</h2>
	<p>Cristian Gamez Infantes</p>
	<p>c/Ramon de la cruz , 17 2ºA</p>
	<p>Madrid 28007</p>
	<p>645689059</p>
	

	<h2 class="red-title">Resumen del pedido</h2>
	<ol>
		<li>
			<h3>2xTallarines con setas</h3>
			<div class="right">
				<span class="price">4.50</span><span class="currency">&euro;</span>
			</div>
		</li>
		<li>
			<h3>TOTAL</h3>
			<div class="right">
				<span class="price">4.50</span><span class="currency">&euro;</span>
			</div>
		</li>
	</ol>
	<form action="/pago/" method="POST">
		{% csrf_token %}
		<div class="paiment-metods">
			<input type="submit" value="Efectivo" name="pago">
			<input type="submit" value="Paypal" id="paypal-btn" name="pago">
		</div>
	</form>
	
</section>
	<style type="text/css">
		#det-pedido {
			padding: 0 1.5em;
		}
		p {
			font-size: 16px!important;
		}

		.paiment-metods {
			margin-top: 2em;
			text-align: center;
		}
		.paiment-metods input{
			display: inline-block;
			margin: 0 2%;
			width: 45%!important;
		}

		ol {
			list-style:none;
			margin: 0;
			padding: 0;
		}
		li{
			padding: 0.5em 4em 0.5em 1.4em;
			position: relative;
		}
		li h3{
			font-size: 1em;
			font-weight: normal;
			margin: 0;
		}
		li .desc {
			display: none;
			font-size: 0.8em;
		}
		li .right{
			font-size: 0.8em;
			position: absolute;
			right: 0.5em;
			top: 0.5em;
		}


	</style>

{% endblock content %}