{% extends "base.html" %}

{% block title %}Carta{% endblock title %}
{% block content %}
	<div id="shoping-cart-content">
		<div id="shoping-cart-btn">
			<a href="#" class="shoping-cart-border">
				<span class="icon-food"></span> <span id="total-items">{{cart.count}}</span><span id="platos">plato{{cart.count|pluralize}}</span>
			</a>
		</div>
		<div id="shoping-cart">
			<ul id="shoping-cart-list">
				{% include "pedidos/carrito.html" %}
			</ul>
			<a href="/detalles-pedido/">Realizar pedido</a>
		</div>
		
	</div>
	
	<section id="menu">
	{% regroup platos by seccion as platos_agrupados %}
	{% for seccion in platos_agrupados %}
		<h2 class="red-title" class="red-title">{{seccion.grouper.seccion}}</h2>
		<ol>
		{% for plato in seccion.list %}
			<li>
				<h3>{{plato.nombre}}</h3>
				<div class="desc">{{plato.descripcion}}</div>
				<div class="right">
					<span class="price">{{plato.precio |floatformat:2 }}</span><span class="currency">&euro; </span>
					<span class="add select-none" data-plato="{{plato.id}}">+</span>
				</div>
			</li> 
		{% endfor %}
		</ol>
	{% endfor %}
{% endblock content %}
