{% extends "base.html" %}

{% block title %}Carta{% endblock title %}
{% block content %}

	<div id="shoping-cart-btn">
		<a href="#" class="shoping-cart-border">
			<span class="icon-food"></span> <span id="total-items">{{cart.count}}</span><span>plato{{cart.count|pluralize}}</span>
		</a>
	</div>
	<div id="shoping-cart">
		<ul id="shoping-cart-list">
			{% include "pedidos/carrito.html" %}
		</ul>
		<a href="/detalles-pedido/">Realizar pedido</a>
	</div>
	
	<section id="menu">
	{% regroup platos by seccion as platos_agrupados %}
	{% for seccion in platos_agrupados %}
		<h2 class="red-title" class="red-title">{{seccion.grouper.seccion}}</h2>
		<ol>
		{% for plato in seccion.list %}
			<li>
				<h3>{{plato.nombre}}</h3>
				<div class="desc">Trozos de pollo tikka en salsa de nata,tomate y mantequilla</div>
				<div class="right">
					<span class="price">{{plato.precio}}</span><span class="currency">&euro; </span>
					<span class="add select-none" data-plato="{{plato.id}}">+</span>
				</div>
			</li> 
		{% endfor %}
		</ol>
	{% endfor %}
		<h2 class="red-title" class="red-title">Entrantes</h2>
		<ol>
			<li>
				<span class="number"></span>
				<h3>Murgh Makhani</h3>
				<div class="desc">Trozos de pollo tikka en salsa de nata,tomate y mantequilla</div>
				<div class="right">
					<span class="price">9,95</span><span class="currency">&euro; </span>
					<span class="add select-none" data-plato="190">+</span>
				</div>
			</li>
		</ol>
	</section>
{% endblock content %}