{% extends "base.html" %}
{% load static %}

{% block content %}
	<section class="restaurant-info">
		<figure class="restaurant-logo">
			<img src="{% static "images/restaurant/4193.gif" %}" alt="">
		</figure>
		<div class="info">
			<h3>{{restaurante.nombre}}</h3>
			<p>Comida {{restaurante.tipo_comida.comida}}</p>
			{{restaurante.valoracion}}
			<div class="rating">
				<span class="icon-star"></span>
				<span class="icon-star"></span>
				<span class="icon-star"></span>
				<span class="icon-star-half-full"></span>
				<span class="icon-star-empty"></span>
				<a href="#ratings-section" class="ratings">(24)</a>
			</div>
		</div>
		<p class="description">{{restaurante.descripcion}}</p>
		<figure class="image-maps">
			<!--<img src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=300x300&markers=color:red%7Clabel:C%7C40.718217,-73.998284&sensor=false" alt="">-->
			<img src="https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=500x500&markers=color:red%7Clabel:C%7C40.4312223,-3.6856326&sensor=false" alt="">
		</figure>

		<section id="ratings-section">
			<article class="full-rating">
				<div class="rating">
					<input name="star1" type="radio" class="star" value="1" />
					<input name="star1" type="radio" class="star" value="2" />
					<input name="star1" type="radio" class="star" value="3" />
					<input name="star1" type="radio" class="star" value="4" />
					<input name="star1" type="radio" class="star" value="5" /> 
					<strong>Bueno</strong>
				</div>
				<p>La comida esta buena, pedimos unas alitas y llegaron en su punto. En cuanto al tiempo de entrega fue un poco mas de lo esperado</p>
			</article>
			<article class="full-rating">
				<div class="rating">
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star"></span>
					<span class="icon-star-half-full"></span>
					<span class="icon-star-empty"></span>
					<strong>Bueno</strong>
				</div>
				<p>La comida esta buena, pedimos unas alitas y llegaron en su punto. En cuanto al tiempo de entrega fue un poco mas de lo esperado</p>
			</article>

		</section>
	</section>
{% endblock content %}