{% load static %}
<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>{% block title %}UFood{% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	<div id="wrapper">
		<header class="select-none">
			<div class="menu-button"><span class="icon-menu"></span></div>
			<h1><a href="#"><img src="{% static 'images/logo.png' %}" alt=""></a></h1>
			<!--<nav>
				<ul>
					<li><a href="/">Inicio</a></li>
					<li><a href="/carta">Carta</a></li>
					<!--<li><a href="#">Ayuda</a></li>
					<li id="shoping"><a href="#"><span class="icon-food"></span></a></li>
				</ul>
			</nav>-->
			<div class="user-button"><span class="icon-user"></span></div>
		</header>
		<div class="content">
			{% block content %}{% endblock content %}
		</div>
		<footer>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/restaurante/">Restaurante</a></li>
				<li><a href="/carta/">Carta</a></li>
				<li><a href="">item</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
			<p id="copyright">UFood ©2014 </p>
		</footer>
	</div>
</body>
</html>