{% load static %}
<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>{% block title %}UFood{% endblock title %}</title>
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
 	<link href="{% static 'css/jquery.rating.css' %}" type="text/css" rel="stylesheet"/>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{% static 'js/jquery.rating.js' %}" type="text/javascript" language="javascript"></script>
	<script src="{% static 'js/breakpoints.js' %}" type="text/javascript" language="javascript"></script>

	<script src="{% static 'js/script.js' %}"></script>
</head>
<body>
	<div id="wrapper">
		<header class="select-none">
			<div class="left-button"><span class="icon-menu"></span></div>
			<div class="right-button"></div>
			<h1><a href="#"><img src="{% static 'images/logo.png' %}" alt=""></a></h1>
			<nav>
				<ul>
				{% if user.is_authenticated %}
					<li><a href="/">Inicio</a></li>
					<li><a href="#">Pedidos</a></li>
					<li><a href="#">Perfil</a></li>
					<li><a href="#">Ayuda</a></li>
					<li><a href="/salir/">Salir</a></li>
				{% else %}
					<li><a href="/">Inicio</a></li>
					<li><a href="/ingresar/">Ingresar</a></li>
					<li><a href="#">Ayuda</a></li>
				{% endif %}
				</ul>
			</nav>
		</header>
		<div class="content">
			{% block content %}{% endblock content %}
		</div>
		<footer>
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/restaurante/">Restaurante</a></li>
				<li><a href="/carta/">Carta</a></li>
				<li><a href="/ingresar/">Ingresar</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
			<p id="copyright">UFood ©2014 </p>
		</footer>
	</div>
	<div id="modal"></div>
</body>
</html>