<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>UFood</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
	<div id="wrapper">
		<header>
			<h1><a href="#"><img src="images/logo.png" alt=""></a></h1>
			<nav>
				<ul>
					<li><a href="template.html">Inicio</a></li>
					<li><a href="#">Restaurantes</a></li>
				</ul>
			</nav>
		</header>
		<section id="menu">
			<h2>Entrantes</h2>
			<ol>
				<li>
					<span class="number"></span>
					<h3>Murgh Makhani</h3>
					<div class="desc">Trozos de pollo tikka en salsa de nata,tomate y mantequilla</div>
					<div class="right">
						<span class="price">11,95</span><span class="currency">&euro; </span>
						<span class="add">+</span>
					</div>
				</li>
				<li>
					<span class="number"></span>
					<h3>Murgh Makhani</h3>
					<div class="desc">Trozos de pollo tikka en salsa de nata,tomate y mantequilla</div>
					<div class="right">
						<span class="price">11,95</span><span class="currency">&euro; </span>
						<span class="add">+</span>
					</div>
				</li>
				<li>
					<span class="number"></span>
					<h3>Murgh Makhani</h3>
					<div class="desc">Trozos de pollo tikka en salsa de nata,tomate y mantequilla</div>
					<div class="right">
						<span class="price">11,95</span><span class="currency">&euro; </span>
						<span class="add">+</span>
					</div>
				</li>
			</ol>
			<h2>Currys Pollo</h2>
			<ol>
				<li>
					<span class="number"></span>
					<h3>Murgh Makhani</h3>
					<div class="desc">Trozos de pollo tikka en salsa de nata,tomate y mantequilla</div>
					<div class="right">
						<span class="price">11,95</span><span class="currency">&euro; </span>
						<span class="add">+</span>
					</div>
				</li>
				<li>
					<span class="number"></span>
					<h3>Murgh Tikka Masala</h3>
					<div class="desc">Trozos de pollo tikka en salsa de nata,tomate y mantequilla</div>
					<div class="right">
						<span class="price">11,95</span><span class="currency">&euro; </span>
						<span class="add">+</span>
					</div>
				</li>
				<li>
					<span class="number"></span>
					<h3>Chicken Jalfrezi</h3>
					<div class="desc">Trozos de pollo tikka en salsa de nata,tomate y mantequilla</div>
					<div class="right">
						<span class="price">11,95</span><span class="currency">&euro; </span>
						<span class="add">+</span>
					</div>
				</li>
				<li>
					<span class="number"></span>
					<h3>Murgh Korma</h3>
					<div class="desc">Trozos de pollo tikka en salsa de nata,tomate y mantequilla</div>
					<div class="right">
						<span class="price">11,95</span><span class="currency">&euro; </span>
						<span class="add">+</span>
					</div>
				</li>
			</ol>

		</section>
		<footer>
			<ul>
				<li><a href="#">Inicio</a></li>
				<li><a href="#">Restaurantes</a></li>
				<li><a href="#">item</a></li>
				<li><a href="#">item</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
			<p id="copyright">UFood ©2014 </p>
		</footer>
	
	</div>
	
</body>
</html>