<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>UFood</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
	<div id="wrapper">
		<header >
			<h1><a href="#"><img src="images/logo.png" alt=""></a></h1>
			<nav>
				<ul>
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Restaurantes</a></li>
					<!--<li><a href="#">Ayuda</a></li>
					<li id="shoping"><a href="#"><span class="icon-food"></span></a></li>-->
				</ul>
			</nav>
		</header>
		<section>
			<div id="busqueda">
				<label class="" for="where">¿Tu código postal?</label>
				<input type="text" pattern="\d*" id="where" name="where" placeholder="Ej. 28010" />
			
				<label for="what">¿Qué quieres pedir?</label>
				<!--<input type="text" id="what" name="what" / placeholder="Ej. sushi">-->
				<select name="" id="">
					<option value="">Todos los tipos</option>
					<option value="">Comida japonesa</option>
					<option value="">Comida india</option>
					<option value="">Comida italiana</option>
					<option value="">Comida americana</option>
					<option value="">Comida china</option>
				</select>
			
				<input type="submit" value="Buscar">
			</div>
			<figure id="images_slider">
				<img src="images/sushi.jpg" alt="" width="100%" />
				<div class="controls">
					<span class="icon-rec"></span>
					<span class="icon-rec"></span>
					<span class="icon-rec"></span>
				</div>
			</figure>
		</section>
		
		
		<div id="featureds">
			<h2><span>Descatados</span></h2>
			<article class="restaurant">
				<figure><a href=""><img src="http://d30v2pzvrfyzpo.cloudfront.net/es/images/restaurants/4310.gif" alt=""></a></figure>
				<div class="info">
					<h3><a href="#">Distillerie Telebebida</a></h3>
					<div>
						<p>Comida Japonesa</p>
						<p>28007</p>
					</div>
					<div class="rating">
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star-half-full"></span>
						<span class="icon-star-empty"></span>
					</div>
				</div>
			</article>
			<article class="restaurant">
				<figure><a href=""><img src="images/restaurant/4193.gif" alt=""></a></figure>
				<div class="info">
					<h3><a href="#">L Sushi</a></h3>
					<div>
						<p>Comida Japonesa</p>
						<p>28007</p>
					</div>
					<div class="rating">
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star-half-full"></span>
						<span class="icon-star-empty"></span>
					</div>
				</div>
			</article>
			<article class="restaurant">
				<figure><a href=""><img src="http://d30v2pzvrfyzpo.cloudfront.net/es/images/restaurants/3482.gif" alt=""></a></figure>
				<div class="info">
					<h3><a href="#">Mini Sushi</a></h3>
					<div>
						<p>Comida Japonesa</p>
						<p>28007</p>
					</div>
					<div class="rating">
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star-half-full"></span>
						<span class="icon-star-empty"></span>
					</div>
				</div>
			</article>
			<article class="restaurant">
				<figure><a href=""><img src="http://d30v2pzvrfyzpo.cloudfront.net/es/images/restaurants/4027.gif" alt=""></a></figure>
				<div class="info">
					<h3><a href="#">Itacho sushi</a></h3>
					<div>
						<p>Comida Japonesa</p>
						<p>28007</p>
					</div>
					<div class="rating">
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star-half-full"></span>
						<span class="icon-star-empty"></span>
					</div>
				</div>
			</article>
			<article class="restaurant">
				<figure><a href=""><img src="http://d30v2pzvrfyzpo.cloudfront.net/es/images/restaurants/4214.gif" alt=""></a></figure>
				<div class="info">
					<h3><a href="#">Japan Pearl Madrid</a></h3>
					<div>
						<p>Comida Japonesa</p>
						<p>28007</p>
					</div>
					<div class="rating">
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star-half-full"></span>
						<span class="icon-star-empty"></span>
					</div>
				</div>
			</article>
			<article class="restaurant">
				<figure><a href=""><img src="http://d30v2pzvrfyzpo.cloudfront.net/es/images/restaurants/2969.gif" alt=""></a></figure>
				<div class="info">
					<h3><a href="#">Twin Pizza Mediterráneo</a></h3>
					<div>
						<p>Comida Japonesa</p>
						<p>28007</p>
					</div>
					<div class="rating">
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star-half-full"></span>
						<span class="icon-star-empty"></span>
					</div>
				</div>
			</article>
		</div>

		<div id="steps">
			<h2>
				<span>A <strong>4 pasos</strong> de ti</span>
			</h2>
			<figure class="box"><img src="images/step_1_img.png" alt="" /></figure>
			<figure class="box"><img src="images/step_2_img.png" alt="" /></figure>
			<figure class="box"><img src="images/step_1_img.png" alt="" /></figure>
			<figure class="box"><img src="images/step_2_img.png" alt="" /></figure>
			
			<div class="clear"></div>
		</div>

		<footer>
			<ul>
				<li><a href="#">Inicio</a></li>
				<li><a href="#">Restaurantes</a></li>
				<li><a href="#">item</a></li>
				<li><a href="#">item</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
			<p id="copyright">UFood ©2014 </p>
		</footer>
	
	</div>
	
</body>
</html>