<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>UFood</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
	<div id="wrapper">
		<header >
			<h1><a href="#"><img src="images/logo.png" alt=""></a></h1>
			<nav>
				<ul>
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Restaurantes</a></li>
					<li><a href="#">item</a></li>
				</ul>
			</nav>
		</header>
		<section>
			<div id="busqueda">
				<label class="" for="where">¿Tu código postal?</label>
				<input type="text" id="where" name="where">
			
				<label for="what">¿Qué quieres pedir?</label>
				<input type="text" id="what" name="what">
			
				<input type="submit" value="Buscar">
			</div>
			<div id="images_slider">
				<img src="images/sushi.jpg" alt="" width="100%">
			</div>
		</section>
		
		<div id="steps">
			<h2>A 4 pasos de ti</h2>
			<figure class="box"><img src="images/step_1_img.png" alt="" /></figure>
			<figure class="box"><img src="images/step_2_img.png" alt="" /></figure>
			<figure class="box"><img src="images/step_1_img.png" alt="" /></figure>
			<figure class="box"><img src="images/step_2_img.png" alt="" /></figure>
			
			<div class="clear"></div>
		</div>
		<div>
			<h2>Descatados</h2>

		</div>

		<footer>
			<ul>
				<li><a href="#">Inicio</a></li>
				<li><a href="#">Restaurantes</a></li>
				<li><a href="#">item</a></li>
				<li><a href="#">item</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
			<p id="copyright">UFood ©2014 </p>
		</footer>
	
	</div>
	
</body>
</html>