<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>UFood</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
	<div id="wrapper">
		<header >
			<h1><a href="#"><img src="images/logo.png" alt=""></a></h1>
			<nav>
				<ul>
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Restaurantes</a></li>
					<li><a href="#">Ayuda</a></li>
					<li id="shoping"><a href="#"><span class="icon-food"></span></a></li>
				</ul>
			</nav>
		</header>
		<section>
			<div id="busqueda">
				<label class="" for="where">¿Tu código postal?</label>
				<input type="text" id="where" name="where" placeholder="Ej. 28010" />
			
				<label for="what">¿Qué quieres pedir?</label>
				<input type="text" id="what" name="what" / placeholder="Ej. sushi">
			
				<input type="submit" value="Buscar">
			</div>
			<figure id="images_slider">
				<img src="images/sushi.jpg" alt="" width="100%" />
				<div class="controls">
					<span class="icon-rec"></span>
					<span class="icon-rec"></span>
					<span class="icon-rec"></span>
				</div>
			</figure>
		</section>
		
		<div id="steps">
			<h2>A 4 pasos de ti</h2>
			<figure class="box"><img src="images/step_1_img.png" alt="" /></figure>
			<figure class="box"><img src="images/step_2_img.png" alt="" /></figure>
			<figure class="box"><img src="images/step_1_img.png" alt="" /></figure>
			<figure class="box"><img src="images/step_2_img.png" alt="" /></figure>
			
			<div class="clear"></div>
		</div>
		<div id="featureds">
			<h2>Descatados</h2>
			<article>
				<figure><img src="images/restaurant/4193.gif" alt=""></figure>
				<div class="info">
					<h3>L Sushi</h3>
					<div>Sushi para especial para Romerolos comilones de pez mantequilla</div>
					<div class="rating">
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star-half-full"></span>
						<span class="icon-star-empty"></span>
					</div>
				</div>
			</article>
			<article>
				<figure><img src="images/restaurant/4193.gif" alt=""></figure>
				<div class="info">
					<h3>L Sushi</h3>
					<div>Sushi para especial para Romerolos comilones de pez mantequilla</div>
					<div class="rating">
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star-half-full"></span>
						<span class="icon-star-empty"></span>
					</div>
				</div>
			</article>
			<article>
				<figure><img src="images/restaurant/4193.gif" alt=""></figure>
				<div class="info">
					<h3>L Sushi</h3>
					<div>Sushi para especial para Romerolos comilones de pez mantequilla</div>
					<div class="rating">
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star-half-full"></span>
						<span class="icon-star-empty"></span>
					</div>
				</div>
			</article>
			<article>
				<figure><img src="images/restaurant/4193.gif" alt=""></figure>
				<div class="info">
					<h3>L Sushi</h3>
					<div>Sushi para especial para Romerolos comilones de pez mantequilla</div>
					<div class="rating">
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star-half-full"></span>
						<span class="icon-star-empty"></span>
					</div>
				</div>
			</article>
			<article>
				<figure><img src="images/restaurant/4193.gif" alt=""></figure>
				<div class="info">
					<h3>L Sushi</h3>
					<div>Sushi para especial para Romerolos comilones de pez mantequilla</div>
					<div class="rating">
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star-half-full"></span>
						<span class="icon-star-empty"></span>
					</div>
				</div>
			</article>
			<article>
				<figure><img src="images/restaurant/4193.gif" alt=""></figure>
				<div class="info">
					<h3>L Sushi</h3>
					<div>Sushi para especial para Romerolos comilones de pez mantequilla</div>
					<div class="rating">
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star"></span>
						<span class="icon-star-half-full"></span>
						<span class="icon-star-empty"></span>
					</div>
				</div>
			</article>
			
			
			
			

		</div>

		<footer>
			<ul>
				<li><a href="#">Inicio</a></li>
				<li><a href="#">Restaurantes</a></li>
				<li><a href="#">item</a></li>
				<li><a href="#">item</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
			<p id="copyright">UFood ©2014 </p>
		</footer>
	
	</div>
	
</body>
</html>